<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL TINYAPP EXAMPLE</title>
</head>

<body>
  <header><%- include('./partials/_header'); -%></header>
  <div>
    <h5>TinyApp URL for: <%= longURL %></h5>
    <p>Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
  </div>
  <div>
    <h3>EDIT:</h3>
    <form method="POST" action="/urls/<%= shortURL %>/edit">
      <input class="form-control" type="text" name="newURL" placeholder="http://" style="float: left; width: 50%">
      <button class="btn btn-primary" type="submit" style="float:right">Submit New URL</button>
    </form>
  </div>
</body>

</html>